body {
  background-color: rgb(40, 40, 40);
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

#time {
  font-size: 16px;
  color: #ffffff;
}

#search-form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#search-bar {
  background-color: rgb(42, 42, 42);
  border: 2px #ffffff groove;
  color: #ffffff;
  height: 25px;
  width: 100%;
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border: 2px #ffffff groove;
  background-color: rgb(42, 42, 42);
  width: 50%;
  flex-wrap: wrap;
}

li {
  font-size: 13px;
  list-style-type: none;
}

.blue {
  color: rgb(204, 36, 29);
}

.green {
  color: rgb(250, 189, 47);
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: rgb(177, 98, 134);
}

@media (max-width: 600px) {
  #search-bar,
  #links {
    width: 100%;
  }

  header {
    margin-top: 20px;
  }

  #links {
    margin-top: 50px;
  }
}
